<div class="blog-card-blog-card" [ngClass]="rootClassName">
  <img [attr.alt]="image_alt" [attr.src]="image_src" class="blog-card-image" />
  <div class="blog-card-container">
    <button class="blog-card-button button-secondary button">
      {{ button }}
    </button>
    <span class="blog-card-text">{{ text1 }}</span>
  </div>
  <span class="blog-card-text1">
    <span>
      Excepteur sint occaecat cupidatat non proident, sunt
      <span [innerHTML]="rawyrv8"></span>
    </span>
    <span>in culpa qui and.</span>
  </span>
  <span class="blog-card-text4">{{ text }}</span>
</div>
